/* Set the background image and styles for the entire body */
body {
 background-image: url('../images/p6.jpg'); 
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-in-out;
    animation: PAnimation 1s forwards;
}

@keyframes PAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.upcont {
   background-color: rgba(255, 255, 255, 0.9);/* A semi-transparent white background */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-in-out;

}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}
/* Style for text input, email input, select, and textarea elements */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color:  rgb(104, 134, 154);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:  rgb(74, 104, 124);
}
@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
       
        opacity: 0;
    }
    to {
        
        opacity: 1;
    }
}